.accordion {
    &__item {

        &-content {
            display: none;
            opacity: 0;
            visibility: hidden;
            transition: all .3s;

            &--open {
                display: block;
                opacity: 1;
                visibility: visible;
            }

            * {
                color: var(--color-text_light); 
            }
        }
    }
}