.lf__datepicker {
    display: flex;

    input {
        width: 100%;
        padding: 14px;
        border: none;
        border-radius: 5px;
        position: relative;
        background-color: var(--color-primary_light);
        font-size: 12px;
        line-height: unset;
        color: #252e2f;
        &:focus {
            outline: 2px solid var(--color-primary) !important;
        }
        &[type='date']::-webkit-calendar-picker-indicator {
            background-position: right;
            background-size: auto;
            cursor: pointer;
            height: auto;
            width: auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            margin-right: 10px;
        }
        &[type='time']::-webkit-calendar-picker-indicator {
            background-position: right;
            background-size: auto;
            cursor: pointer;
            width: auto;
            height: auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            margin-right: 10px;
        }
    }
}
