# Unfortunately this is needed at the moment for Storybook:
# TODO: Try to remove this once Storybook fixed their things
legacy-peer-deps=true

# By default do not install Storybook and other things not necessarily needed for development & building the app
omit=optional
