@font-face {
    font-family: Montserrat;
    src: url('../public/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url('../public/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url('../public/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url('../public/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url('../public/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url('../public/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url('../public/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url('../public/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: url('../public/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
}
