name: User-App Main-Barrier

on:
  pull_request:
    branches: [ main ]
jobs:
 
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
      - name: Install Dependencies
        run: npm ci

      - name: Build App
        env:
          CI: false # TODO: Remove once all build warnings were fixed
        run: npm run build

      - name: Check Bundle Size
        run: echo "### Hello world! :rocket:" >> $GITHUB_STEP_SUMMARY
      
      - name: Check Bundle Size
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.checks.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              head_sha: context.sha,
            
              name: "bundle-size-check",
              status: "completed",
              conclusion: "failure",
              output: {
                title: "Test",
                summary: "Test",
                text: "Test"
              }
            })
