name: User-App Main-Barrier

on:
  pull_request:
    branches: [ main ]
jobs:
 
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Build App
        env:
          CI: false # TODO: Remove once all build warnings were fixed
        run: npm run build