name: User-App Main-Barrier

on:
  pull_request:
    branches: [ main ]
jobs:
 
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Typecheck App against productive GraphQL
        continue-on-error: true 
        env:
          CI: false
          GRAPHQL_SCHEMA_URL: https://api.corona-school.de/apollo
        run: npm run fetch-api && npm run check-types